<%= alert_box context: :danger do %>
  <h4><b>404</b>: There doesn't seem to be anything here?</h4>
  What you want exists in the WUR though, so you might want to <a class="alert-link" href="javascript:$('#wurEnabler').click()">enable the WUR</a>
<% end %>
