.panel.panel-danger
  .panel-heading
    h3.panel-title
      b 404
      | : There doesn't seem to be anything here?
  .panel-body The requested version is available from these people though:
  .list-group
    - @wonko_versions.where(user: User.official_user).each do |version|
      a.list-group-item href="#{route :show, version, user: version.user.username}"
        = version.user.username
    - if @wur_enabled
      - @wonko_versions.not.where(user: User.official_user).each do |version|
        a.list-group-item href="#{route :show, version, user: version.user.username}"
          = version.user.username
    - elsif !@wonko_versions.not.where(user: User.official_user).empty?
      a.list-group-item.list-group-item-warning href="javascript:$('#wurEnabler').click()"
        | Enable the WUR the see others
