h1 New Wonko Version
= render 'form'

h1 New Wonko Versions from file
= bootstrap_form_tag url: upload_version_path, multipart: true do |f|
  = f.alert_message "Please fix the errors below."
  = f.file_field :file, hide_label: true, multiple: true
javascript:
  $(function() {
    $('#_file').attr('style', 'width:100%');
    $('#_file').fileinput({
      previewFileType: 'text',
      allowedFileExtensions: ['json'],
      previewClass: 'bg-warning'
    });
  });
