<%= alert_box context: :danger do %>
  <h4>There doesn't seem to be anything here?</h4>
  If what you tried to find does is not official you might have to <a class="alert-link" href="javascript:$('#wurEnabler').click()">enable the WUR</a>
<% end %>
